h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}

#botones{
    text-align: center;
    margin-top: 20px;
}
button{
    background: rgb(75, 208, 238);
    color:white;
    font-weight: bold;
    padding: 15px;
    
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #717575;
    border-radius: 6px;
    
}

button :active{
    background: #3554EE;
    color:black;
    font-weight: bold;
    padding: 15px;
    
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #717575;
    border-radius: 6px;
  
}

.contenido{
    display: none;
    background:black;
    color:white;
    
    font-size: large;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    
    /* border-collapse: collapse; */
    /* margin-left: 120px;
    margin-right:75%;
    margin-top: 80px; */
    border: 2px solid #050eb5;
    border-radius: 6px;
}


