#all {
    display: flex;
    align-items: flex-start
}

#usersItems div,
#usersContact div {
    padding: 7px;
}

#usersItems{
    margin-left: 2%;
}

#usersContact{
    margin-right: 2%;
}

.user-id,
.submit {
    width: 100%;
    margin: 8%;
    padding: 15px;
    border-radius: 10px;
}

.submit {
    background-color: rgb(0, 74, 173);
    color: #fff;
}

.delete {
    display: flex;
    flex-wrap: wrap
}

#restock {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#restock button{
    background-color: rgb(0, 74, 173);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#userItems {
    border: 5px solid black;
}

.delete-all button{
    color: rgb(0, 255, 30);
    cursor: pointer;
    text-shadow: 0 0 10px black;
}

.delete-all{
    display: flex;
}