#main-page {
    display: flex;
    gap: .6vw;
}

#finish {
    background-color: rgb(1, 90, 178);
    padding: 4px;
}

#item-list,#finish{
    flex: 1;
}

#finish,
#data,
#submit {
    border: 3px black solid;
    border-radius: 15px;
}

#submit {
    display: none;
    cursor: pointer;
}
/*
#divisor-line {
    width: .3vw;
    background-color: rgb(154,154,154);
    border-radius: 15px;
}*/

hr{
    border-color: red;
}

#finish-container {
    display: none;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

#finish {
    position: relative;
    padding: 10px;
    font-weight: var(--bold);
    font-size: 17px;
}