#finish {
    background-color: rgb(1, 90, 178);
    padding: 4px;
    position: relative;
    padding: 10px;
    font-weight: var(--bold);
    font-size: 17px;
}

#finish,
#data,
#submit {
    border: 3px black solid;
    border-radius: 15px;
}

#submit {
    display: none;
    cursor: pointer;
}

#finish-container {
    display: none;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* #main-page {
    display: flex;
    justify-content: center;
} */

#item-list {
    border: 3px black ridge;
    border-radius: 15px;
    padding: 2px;
    width: 100%;
    height: 450px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
}

#items {
    align-items: start;
}

li {
    list-style: none;
}
td{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.image-container {}

.image-item {
    max-height: 100%;
    max-width: 100%;
}

td {
    /* text-align: center; */
    width: 16.6666%;
    /* height: 25vh; */
}

.amount {
    font-size: 1em;
    width: 50px;
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 5px;
}

#table-footer div{
    display: flex;
    border: 3px black solid;
}

#close {
    position: absolute;
    top: -12px;
    right: -10px;
    background-image: url(../images/close.png);
    width: 26px;
    height: 26px;
    cursor: pointer;
}