body{
    margin: 0%;
}

header {
    /* background-color: #333;
    color: #fff;
    padding: 10px; */
}

#main-title {
    display: inline;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-end;
}

nav ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    gap: 12vw;
}


nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

.active {
    color: #939393;
}

#cart-image{
    max-width: 3vw;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.count-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn-count {
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#cart-value{
    text-align: center;
    position: absolute;
    width: 2rem;
    background-color: red;
    border-radius: 15px;
    border: 1.5px black solid;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

#cart-value:focus{
    outline: none;
}