body {
    background-image: url(../images/form/prueba.jpg);
    background-size: 100vw 100vh;
    margin: 0;
    background-attachment: fixed;
}

#formTitle {
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
}

#formAdmin {
    width: 250px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 8rem;
    border-radius: 8px;
}

.vibration{
    animation: vibrate 0.25s linear;
    animation-iteration-count: 2;
}

#tries {
    text-align: center;
    color: white;
    font-size: large;
}

#failPassword {
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: small;
    color: red;
    text-shadow: 0 0 4px black;
}

input {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: medium;
}

#button {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(85, 85, 187);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:480px) {
    form {
        width: 100%;
    }
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    5% {
        transform: translateX(-5px);
    }

    10% {
        transform: translateX(5px);
    }

    15% {
        transform: translateX(0);
    }
}