body {
    background-image: url(../images/form/prueba.jpg);
    background-size: 100vw 100vh;
    margin: 0;
    background-attachment: fixed;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Arial;
}

nav {
    font-family: letters;
}

#main-title {
    font-family: Arial;
}

#formAdmin {
    width: 250px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 8rem;
    border-radius: 8px;
    /*animation: vibrate 0.5s alternate;*/
}

#tries {
    text-align: center;
    color: white;
    font-family: letters;
    font-size: large;
}

#failPassword {
    text-align: center;
    color: white;
    font-family: letters;
    font-size: small;
    color: red;
    text-shadow: 0 0 4px black;
}

input {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: medium;
}

#button {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(85, 85, 187);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:480px) {
    form {
        width: 100%;
    }
}

@font-face {
    font-family: "letters";
    src: url(../styles/fonts/letters.otf);
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    4% { transform: translateX(-5px); }
    8% { transform: translateX(5px); }
    12% { transform: translateX(0); }
}