body {
    background-image: url(../images/form/prueba.jpg);
    background-size: 100vw 100vh;
    margin: 0;
    background-attachment: fixed;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Arial;
}

nav {
    font-family: letters;
}

#main-title {
    font-family: Arial;
}

#formAdmin {
    width: 250px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 7rem;
    border-radius: 8px;
}

#tries {
    text-align: center;
    color: white;
    font-family: letters;
    font-size: large;
}

input {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    font-size: medium;
}

button {
    background-color: rgb(85, 85, 187);
    color: #fff;
    padding: 15px;
}

button:hover {
    cursor: pointer;
}

@media(max-width:480px) {
    form {
        width: 100%;
    }
}

@font-face {
    font-family: "letters";
    src: url(../styles/fonts/letters.otf);
}