#search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    padding: 1vh 2vw 1vh 2vw;
    background-size: 1vw;
    background-position: center;
    border-radius: 25px;
    width: 1vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease-in-out;

}

#search:focus {
    background-position: 0.5vw;
    border-radius: 25px;
    width: 15vw;
    height: 2vw;
}

.search-container {
    display: inline-block;
    width: 70%;
}

.filter-container{
    display: inline-flex;
    margin-right: 0px;
    margin-left: 10vw;
}

/* Estilos del input de búsqueda */
.search-container #search-input {
    padding: 10px;
    border: white;
    font-size: 17px;
    border-radius: 5px 0 0 5px;
    width: 60%;
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: width .5s ease-in-out;
}

.path-button {
    text-decoration: none;
    color: #fff;
}


#search-input:focus {
    width: 90%;
}

#items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    gap: 3vw;
    margin: 10vw;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

.product-description {
    font-size: 0.9em;
    margin: 0 0 10px;
    text-align: center;
}

.product-count {
    font-size: 1em;
    width: 50px;
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 5px;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.btn-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#options {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#options option {
    font-size: 14px;
}

#options:focus {
    outline: none;
    box-shadow: 0 0 4px #888;
}

#main-img{
    width: 95%;
    height: 150px;
}
@media only screen and (min-width: 768px) {
    #items-list {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .product-card {
        flex-direction: row;
        align-items: center;
        width: auto;
        justify-content: space-between;
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .image {
        width: 150px;
    }

    .product-name {
        text-align: left;
    }

    .product-description {
        text-align: center;
    }

    .product-price {
        text-align: right;
    }

    .btn-to-cart {
        width: auto;
    }
    #main-img{
        width: 300px;
        height: 150px;
    }
}